# ignore everything
*

# JUST PROYECT
!index.html

# example
!src/
!src/**/
!src/main.jsx
!src/index.css
!src/App.jsx

# example
!public/
!public/**/
!public/wolf.png
!public/example.png

# --
!.gitignore
!README.md

# example
!dist/
!dist/**/
!dist/index.html
!dist/wolf.png
!dist/assets/
!dist/assets/**/
!dist/assets/index-BBfec5dv.css
!dist/assets/index-Cfl0fEsv.js
